body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 40px;
}

img {
    height: 85px;
}

nav ul {
    list-style-type: none;
    background-color: #006bde;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

li.primeiro {
    border-right: 3px solid #ccc;
}

li.left {
    border-left: 3px solid #ccc;
}

a.selected {
    color: #ffd700;
}

li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
}

.container {
    margin: 20px;
    display: grid;
}

.container .titulo {
    text-align: center;
    padding-bottom: 40px;
}

form {
    display: grid;
    gap: 30px;
}

form h2 {
    font-size: 35px;
}

form label {
    margin-bottom: 10px;
}

form div {
    display: flex;
    gap: 10px;
    align-items: center;
}

form div p {
    font-weight: bold;
    font-size: 20px;
}

.renda_mensal, .gastos {
    display: grid;
    gap: 0px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
}

.renda_mensal h2, .gastos h2 {
    text-align: center;
}

.renda_mensal input, .gastos input {
    padding: 5px;
    width: 50%;
    height: 20px;
    text-align: start;
    font-weight: bold;
    font-size: 15px;
}

.gastos div {
    margin-bottom: 5px;
}

form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button,
form input[type="number"]::-webkit-textfield-decoration-container {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

form input[type="submit"] {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #006bde;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}