body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 40px;
}

img {
    height: 85px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    background-color: #006bde;
    padding: 10px;
    border-radius: 5px;
}

li a {
    text-decoration: none;
    color: #fff;
}

li a:hover {
    color: #ffd700;
    font-weight: bold;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 20px;
}

.container {
    margin: 20px;
}

.container fieldset {
    padding: 25px 10px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
} 

.container .titulo {
    text-align: center;
    padding-bottom: 40px;
}